<div class="container">
  <form (ngSubmit)="onUploadVideo(f)" #f="ngForm">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <label>Video Name:</label>
        <br>
        <input type="text"
               ngModel
               required
               class="form-control"
               name="audioName">
        <br>
        <label>Description:</label>
        <br>
        <input type="text"
               ngModel
               class="form-control"
               name="description">
        <br>
        <label>Author:</label>
        <br>
        <input type="text"
               ngModel
               required
               class="form-control"
               name="author">
        <br>
        <button
          class="btn btn-primary"
          type="submit">Upload</button>
      </div>
    </div>
  </form>
</div>
